.usersettings{
    display: flex;
    flex-wrap: wrap;
    gap:2rem;
    font-size: 1.1rem;
    font-weight: 500;
}
.usersettingsButton{
 width: fit-content;
 border:1px solid black;
 font-weight: 400;
}
.usersettingsSpan{
    text-decoration: underline 0.15em rgb(39, 55, 77);
    text-underline-offset: 0.2em;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}
.usersettingsp{
    font-size: 1rem;
    font-weight: 400;
}
.usersettingsLogoutButton{
    border-radius: 5px;
}
